<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <title>Login</title>
    </head>
    <body>
        <section layout:fragment="corpo">
            <form id="formulario" method="post" th:action="@{/login}">
                <div th:replace="fragments/mensagens"></div>
                <h1 style="text-align: center; color: #124265;">Login</h1>

                <div class="form-group">
                    <label for="username">E-mail</label>
                    <input type="text" class="form-control" placeholder="Digite seu e-mail" name="username" required autofocus />
                </div>

                <div class="form-group">
                    <label for="password">Senha</label>
                    <input type="password" class="form-control" placeholder="Digite sua senha" name="password" required />
                </div>
  <center>
                <button type="submit" class="btn btn-primary">Acessar</button>
                <button type="submit" formaction="/" formmethod="get" class="btn btn-danger">Cancelar</button>
                <br />
                <br />
              <p>Ainda não tem conta? <a href="/usuarios/cadastro">Cadastre-se!</a></p> </center>
            </form>
        </section>
    </body>
</html>