<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <title>Hospedagem</title>
    </head>
    <body>
        <section layout:fragment="corpo">
            <div class="centro">
                <h1 style="margin-top: 10px;">Confira nossos planos</h1>
                <h2>Hospedagem para sites de todos os tamanhos e orçamentos</h2>

                <div class="card-deck" style="max-width: 70%; margin: 60px auto;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Plano Básico</h5>
                            <p class="card-text">Um pacote modesto para seu pequeno site. Ideal para começar um projeto online</p>
                            <a href="#" class="btn btn-primary">R$ 10,99/MES</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Plano Empresarial</h5>
                            <p class="card-text">Plano perfeito para sua empresa. Perfeito para sites que tenham muitos acessos</p>
                            <a href="#" class="btn btn-primary">R$ 27,99/MES</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Servidor dedicado</h5>
                            <p class="card-text">Potência máxima para seu site com servidores dedicados e com armazenamento 100% SSD</p>
                            <a href="#" class="btn btn-primary">R$ 199,99/MES</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
