<html lang="pt-BR" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <title>Domínios</title>
    </head>
    <body>
        <section layout:fragment="corpo">
            <div class="centro">
                <h1 style="margin-top: 10px;">Confira nossos domínios</h1>
                <h2>E garanta já o seu espaço na internet com um preço acessível</h2>

                <div class="card-deck" style="max-width: 70%; margin: 60px auto;">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">.net</h5>
                            <p class="card-text">Atualmente o terceiro domínio mais usado no mundo</p>
                            <a href="/dominio/compraDominio" class="btn btn-primary">R$ 14,99/MES</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">.com</h5>
                            <p class="card-text">Atualmente o domínio mais usado em todo mundo</p>
                            <a href="/dominio/compraDominio" class="btn btn-primary">R$ 29,99/MES</a>
                        </div>
                    </div>

                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">.com.br</h5>
                            <p class="card-text">O domínio brasileiro gerenciado pela <a href="Registro.br">registro.br</a></p>
                            <a href="/dominio/compraDominio" class="btn btn-primary">R$ 39,99/MES</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>