<!DOCTYPE html>
<html lang="pt-BR" layout:decorate="~{layout}">
    <head>
        <meta charset="UTF-8" />
        <title>DomainCheap</title>
    </head>
    <body>
        <section class="layout-content" layout:fragment="corpo">
            <div class="centro">
                <form id="formulario" th:action="@{/dominio/salvar}" th:object="${dominio}" method="post" style="margin-top: 15px;">
                    <div th:replace="fragments/mensagens"></div>

                    <input type="hidden" th:field="${dominio.id}" />

                    <div class="form-group">
                        <label for="dominio">Domínio</label>
                        <input type="text" th:field="${dominio.dom}" class="form-control" id="dominio" placeholder="Digite o domínio" />
                    </div>

                    <div class="form-group">
                        <label for="name">Nome</label>
                        <input type="text" class="form-control" id="name" th:field="${dominio.nome}" placeholder="Digite seu nome" />
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" th:field="${dominio.email}" placeholder="Digite seu email" />
                    </div>

                    <div class="form-group">
                        <label for="tel">Telefone</label>
                        <input type="text" class="form-control" id="tel" th:field="${dominio.telefone}" placeholder="Digite seu telefone com o DDD da sua região" />
                    </div>

                    <div class="form-group">
                        <label for="endereco">Endereço</label>
                        <input type="text" class="form-control" id="endereco" th:field="${dominio.endereco}" placeholder="Digite seu endereço" />
                    </div>

                    <div class="form-group">
                        <label for="senha">Senha</label>
                        <input type="password" class="form-control" id="senha" th:field="${dominio.senha}" placeholder="Digite sua senha" />
                        <small id="passwordHelpBlock" class="form-text text-muted">Sua senha deve conter no mínimo 8 caracteres</small>
                    </div>

                    <button type="submit" class="btn btn-success">Comprar</button>
                    <button type="submit" class="btn btn-danger" value="Cancelar" formaction="/" formmethod="GET">Cancelar</button>
                </form>
            </div>
        </section>
    </body>
</html>